
.card-text-old{
  text-decoration:line-through;
  color: red; 
}

img{
  width: 50px;
}

.card{
  border: black;
  background-color: rgba(202, 202, 206, 0.438);
  /* width: 18rem; */
}

#product-name{
  align-items: center;
}

.card-img-top{
  width: 70px;
}

li{
  list-style: none;
}
div{
  margin: 50px;
}

#theImg{
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

}